<footer class="bg-danger text-white border">
	<div class="text-center pt-1">
		<a class="p-3 text-decoration-none text-white" href="/events">
			Home
		</a>
		<span>|</span>
		<a class="p-3 text-decoration-none text-white" href="/events/new">
			Create
		</a>
		<span>|</span>
		<a class="p-3 text-decoration-none text-white" href="/events">
			All events
		</a>
	</div>
	<div class="text-center pt-2 pb-1">
		<span>&copy; Copyright Arbër Islamaj</span>
	</div>
</footer>
